<link rel='import' href="../vendor/bower/polymer/polymer.html">
<link rel='import' href="../vendor/bower/iron-selector/iron-selector.html">

<!-- <link rel='import' href="src/x-navbar.html"> -->


<!-- For the menus -->
<link rel="import" href="../vendor/bower/paper-menu/paper-menu.html">
<link rel="import" href="../vendor/bower/paper-card/paper-card.html">
<link rel="import" href="../vendor/bower/paper-button/paper-button.html">
<link rel="import" href="../vendor/bower/paper-item/paper-item.html">
<link rel="import" href="../vendor/bower/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../vendor/bower/paper-input/paper-input.html">
<link rel="import" href="../vendor/bower/paper-fab/paper-fab.html">
