<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <title>WebPage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="@thiagoroshi" name="author">
    <link rel="author" href="humans.txt">
    <link rel="shortcut icon" href="favicon.png">
    <!-- Some Js Files-->
    <script type="text/javascript" href="view/vendor/bower/webcomponentsjs/webcomponents.min.js"></script>
    <!-- Imports custom element -->
    <link rel='import' href="view/import.html">

    <!-- CSS Code  -->
    <!--
        <link rel="stylesheet" href="./css/main.css"/>
    -->
</head>

<body>
    <paper-menu>
        <paper-item href='home'>home</paper-item>
        <paper-item href='empresa'>Empresa</paper-item>
        <paper-item href='produtos'>Produtos</paper-item>
        <paper-item href='servicos'>Serviços</paper-item>
        <paper-item href='contato'>contato</paper-item>
    </paper-menu>
        <!-- <x-navbar>
            <a href='home'>home</a>
            <a href='empresa'>Empresa</a>
            <a href='produtos'>Produtos</a>
            <a href='servicos'>Serviços</a>
            <a href='contato'>contato</a>
        </x-navbar> -->
</body>

</html>
