<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <title>WebPage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="@thiagoroshi" name="author">

    <link rel="author" href="humans.txt">
    <link rel="shortcut icon" href="favicon.png">

    <script type="text/javascript" href="view/vendor/bower/webcomponentsjs/webcomponents.min.js"></script>
    <link rel='import' href="import.html">

    <!-- CSS Code  -->
    <!--
        <link rel="stylesheet" href="./css/main.css"/>
    -->
</head>

<body>
    <iron-selector attr-for-selected="name" role='navigation' class='drawer-list'>
        <a name='Home' href='home'>Home</a>
        <a name='Produtos' href='produtos'>Produtos</a>
        <a name='Empresa' href='empresa'>Empresa</a>
        <a name='Servicos' href='servicos'>Serviços</a>
        <a name='Contato' href='contato'>Contato</a>
    </iron-selector>

        <!-- <x-navbar>
            <a href='empresa'>Empresa</a>
            <a href='produtos'>Produtos</a>
            <a href='home'>home</a>
            <a href='servicos'>Serviços</a>
            <a href='contato'>contato</a>
        </x-navbar> -->
</body>

</html>
