<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <title>WebPage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="@thiagoroshi" name="author">

    <link rel="author" href="humans.txt">
    <link rel="shortcut icon" href="favicon.png">

    <script type="text/javascript" href="view/vendor/bower/webcomponentsjs/webcomponents.min.js"></script>
    <link rel='import' href="import.html">

    <!-- CSS Code  -->
    <!--
        <link rel="stylesheet" href="./css/main.css"/>
    -->
</head>

<body unresolved>

    <!-- <iron-selector attr-for-selected="name" role='navigation' class='drawer-list'> -->
    <paper-menu selected='0'>
        <paper-item><a name='Home' href='home'>Home</a></paper-item>
        <paper-item><a name='Produtos' href='produtos'>Produtos</a></paper-item>
        <paper-item><a name='Empresa' href='empresa'>Empresa</a></paper-item>
        <paper-item><a name='Servicos' href='servicos'>Serviços</a></paper-item>
        <paper-item><a name='Contato' href='contato'>Contato</a></paper-item>
    </paper-menu>
    <!-- </iron-selector> -->

</body>

</html>
